* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #2d5985;
  color: #333;
}

header {
  background: #2563eb;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  padding: 30px;
  margin: 20px;
  background: rgb(182, 24, 24);
  border-radius: 8px;
}

h2 {
  margin-bottom: 15px;
  color: #2563eb;
}

.skills ul {
  list-style: square;
}

.skills li {
  background: #e0e7ff;
  display: inline-block;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px;
}

.projects {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background: #f1f5f9;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 6px;
 
}

footer {
  text-align: center;
  padding: 15px;
  background: #1e293b;
  color: white;
}
img{
    height: 300px;
    width: 350px;
}